[package]
name = "trunk"
version = "0.16.0"
edition = "2018"
description = "Build, bundle & ship your Rust WASM application to the web."
license = "MIT/Apache-2.0"
authors = ["Anthony Dodd <dodd.anthonyjosiah@gmail.com>"]
repository = "https://github.com/thedodd/trunk"
readme = "README.md"
categories = ["command-line-utilities", "wasm", "web-programming"]
keywords = ["wasm", "bundler", "web", "build-tool", "compiler"]

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"

[dependencies]
ansi_term = "0.12"
anyhow = "1"
axum = { version = "0.5", features = ["ws"] }
bytes = "1"
cargo-lock = "8"
cargo_metadata = "0.15"
clap = { version = "3", features = ["derive", "env"] }
console = "0.15"
directories = "4"
dunce = "1"
envy = "0.4"
flate2 = "1"
fs_extra = "1"
futures-util = { version = "0.3", default-features = false, features = ["sink"] }
nipper = "0.1"
notify = "4"
once_cell = "1"
open = "3"
remove_dir_all = "0.7"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream", "trust-dns"] }
seahash = "4"
serde = { version = "1", features = ["derive"] }
tar = "0.4"
# See https://docs.rs/tokio/latest/tokio/#feature-flags - we basically use all of the features.
tokio = { version = "1", default-features = false, features = ["full"] }
tokio-stream = { version = "0.1", default-features = false, features = ["fs", "sync"] }
tokio-tungstenite = "0.17"
toml = "0.5"
tower-http = { version = "0.3", features = ["fs", "trace", "set-header"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
which = "4"
zip = "0.6"

[dev-dependencies]
tempfile = "3"
