[package]
name = "trunk-ng"
version = "0.17.7"
edition = "2021"
description = "Build, bundle & ship your Rust WASM application to the web."
license = "MIT/Apache-2.0"
authors = [
  "Anthony Dodd <dodd.anthonyjosiah@gmail.com>",
  "Jens Reimann <ctron@dentrassi.de>"
]
repository = "https://github.com/ctron/trunk"
readme = "README.md"
categories = ["command-line-utilities", "wasm", "web-programming"]
keywords = ["wasm", "bundler", "web", "build-tool", "compiler"]

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"

[dependencies]
ansi_term = "0.12"
anyhow = "1"
async-recursion = "1.0.5"
axum = { version = "0.6", features = ["ws"] }
axum-server = { version = "0.5.1", features = ["tls-rustls"] }
bytes = "1"
cargo-lock = "9"
cargo_metadata = "0.15"
clap = { version = "4", features = ["derive", "env"] }
console = "0.15"
directories = "5"
dunce = "1"
envy = "0.4"
flate2 = "1"
futures-util = { version = "0.3", default-features = false, features = [
  "sink",
] }
humantime = "2"
humantime-serde = "1"
local-ip-address = "0.5.1"
nipper = "0.1"
notify = "6"
notify-debouncer-full = "0.3"
once_cell = "1"
open = "5"
remove_dir_all = "0.8"
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
  "stream",
  "trust-dns",
] }
seahash = "4"
serde = { version = "1", features = ["derive"] }
tar = "0.4"
# See https://docs.rs/tokio/latest/tokio/#feature-flags - we basically use all of the features.
tokio = { version = "1", default-features = false, features = ["full"] }
tokio-stream = { version = "0.1", default-features = false, features = [
  "fs",
  "sync",
] }
tokio-tungstenite = "0.19"
toml = "0.7"
tower-http = { version = "0.4", features = ["fs", "trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
which = "4"
zip = "0.6"

[dev-dependencies]
tempfile = "3"
