name: Pages
on:
  push:
    branches:
      - master
    paths:
      - site/**
      - .github/workflows/pages.yaml
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup | Zola
        run: |
          wget -qO- https://github.com/getzola/zola/releases/download/v0.15.3/zola-v0.15.3-x86_64-unknown-linux-gnu.tar.gz | tar -xzf - \
          && sudo chmod a+x zola && sudo mv zola /bin/zola
      - name: Build
        run: cd site && zola build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/public
          cname: trunkrs.dev
